body {
  background-color: #e9e8e4;
  margin: 0;
  padding: 0;
  color: #999999; }

h1, h2, h3, h4, h5, h6 {
  color: white;
  font-weight: bold;
  margin: 0;
  padding: 0; }

a {
  color: inherit;
  text-decoration: none; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

p {
  margin: 0;
  padding: 0; }

button, .button, input[type="submit"], #right-head .head-element a.header-link, .profile-content #item-header #item-buttons .generic-button, #search-members-form input[type="submit"], .notifications-options-nav input[type="submit"], .messages-options-nav input[type="submit"], .comment-section #respond input[type="submit"], select, input {
  height: 30px;
  line-height: 30px;
  color: #999999;
  border: 1px solid #cccccc;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  min-width: 75px; }

input[type="text"] {
  cursor: auto; }

input[type="checkbox"] {
  cursor: auto;
  height: 15px;
  background: transparent;
  min-width: 15px; }

input[type="submit"] {
  height: auto;
  padding: 0; }

button:hover, .button:hover, input[type="submit"]:hover, #right-head .head-element a.header-link:hover, .profile-content #item-header #item-buttons .generic-button:hover, #search-members-form input[type="submit"]:hover, .comment-section #respond input[type="submit"]:hover {
  color: white;
  background-color: #4c77a4; }

.title-page {
  font-size: 2em;
  padding: 16px;
  text-align: center;
  color: #666666; }

.button, input[type="submit"], #right-head .head-element a.header-link, .profile-content #item-header #item-buttons .generic-button, #search-members-form input[type="submit"], .notifications-options-nav input[type="submit"], .messages-options-nav input[type="submit"] {
  padding: 6px; }

.light-button, #right-head .head-element a.header-link, .profile-content #item-nav ul li:hover, .profile-content #item-nav ul li.actived {
  color: #4c77a4;
  background-color: white; }

.cricle-button {
  border-radius: 50%; }

.orange-button, .book-content-info-nav ul li.activated, .book-content-info-nav li:hover {
  color: white;
  background-color: #eb7b4b; }

.green-button, .book-share-info-nav ul li.activated, .book-share-info-nav li:hover {
  color: white;
  background-color: #33cc00; }

.green-border {
  border: solid 1px #33cc00; }

.disabled-button {
  background-color: #666666; }

.center-content {
  text-align: center; }

.load-more {
  padding: 8px;
  text-align: center;
  cursor: pointer;
  background-color: #4c77a4;
  color: white; }

.load-more:hover {
  color: inherit;
  box-sizing: content-box; }

.link, .link-underline, .user-name, .acomment-meta a, .comment-section .fn, .comment-section #respond form p a:first-child, #members-list .item .item-title, .activity-type-tabs ul li.selected, table.notifications td.notification-actions a, table#message-threads td.thread-options a, #settings-form a {
  color: #0033ff;
  cursor: pointer; }

.link:hover, .link-underline:hover, .user-name:hover, .acomment-meta a:hover, .comment-section .fn:hover, .comment-section #respond form p a:hover:first-child, #members-list .item .item-title:hover, .activity-type-tabs ul li.selected:hover, table.notifications td.notification-actions a:hover, table#message-threads td.thread-options a:hover, #settings-form a:hover {
  text-decoration: underline; }

.link-underline {
  text-decoration: underline; }

.link-underline:hover {
  padding-left: 4px; }

.user-name, .acomment-meta a, .comment-section .fn, .comment-section #respond form p a:first-child, #members-list .item .item-title {
  font-weight: bold; }

.stats-style, .acomment-meta a span, .comment-section .comment-meta, #members-list .item .item-meta {
  font-size: 0.8em;
  line-height: 2em; }

.dark-color-style {
  font-weight: bold;
  color: #666666; }

.number {
  color: #4c77a4; }

.border-bottom, .mobile-sub-menu li, .comment-section .comment-meta, .profile-content #item-header-content {
  border-bottom: 1px solid #cccccc; }

.border-top, .comment-section #respond {
  border-top: 1px solid #cccccc; }

.info, .bp-template-notice, .success, .warning, .error {
  margin: 8px;
  padding: 8px; }

.info, .bp-template-notice {
  color: #00529b;
  background-color: #bde5f8; }

.success {
  color: #4f8a10;
  background-color: #dff3bf; }

.warning {
  color: #9f6000;
  background-color: #feefb3; }

.error {
  color: #d8000c;
  background-color: #ffbaba; }

.clr {
  clear: both; }

* {
  transition-duration: 100ms;
  -webkit-transition-duration: 100ms; }

#wrap-all {
  width: 100%; }

#container {
  width: 90%;
  margin: 0 auto; }

#header {
  width: 100%;
  height: auto; }

#header #top-head {
  width: 100%;
  height: 50px;
  background-color: #4c77a4; }

#left-head {
  width: 50%;
  float: left; }

#right-head {
  width: 50%;
  float: left; }

#left-head .head-element {
  float: left;
  height: 100%;
  position: relative; }
  #left-head .head-element h2 {
    line-height: 50px;
    padding-left: 8px;
    padding-right: 8px; }

#main-search {
  width: 300px;
  background-color: white;
  height: 25px;
  margin-top: 12.5px;
  line-height: 25px;
  cursor: auto; }

#right-head .head-element {
  float: right;
  height: 100%;
  cursor: pointer;
  position: relative;
  height: 20px;
  margin-top: 15px;
  padding-left: 8px;
  padding-right: 8px; }
  #right-head .head-element img {
    width: 20px;
    height: 20px; }
  #right-head .head-element a.header-link {
    line-height: 20px;
    font-size: 0.6em; }

#right-head .head-element #main-avatar {
  height: 75px;
  width: 75px;
  margin-top: -5px; }
  #right-head .head-element #main-avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.6); }

#right-head .head-element:hover .sub-menu {
  display: block; }

.sub-menu {
  background-color: white;
  position: absolute;
  top: 20px;
  width: 200px;
  left: -85px;
  padding: 8px;
  border: solid 1px #4c77a4;
  display: none; }
  .sub-menu li {
    border-bottom: solid 1px #cccccc;
    padding: 8px;
    font-size: 0.8em; }
  .sub-menu a {
    height: 30px;
    line-height: 30px;
    border-bottom: #cccccc;
    padding: 8px;
    display: block;
    width: 100%;
    height: 100%; }
  .sub-menu li:hover {
    color: white;
    background-color: #4c77a4; }

#menu {
  margin-top: 8px;
  border: solid 1px #cccccc;
  height: 50px;
  background-color: white; }

#main-menu {
  width: 100%;
  height: 100%; }

#main-menu ul {
  width: 100%;
  height: 100%; }
  #main-menu ul li {
    float: left;
    height: 100%;
    padding-left: 8px;
    padding-right: 8px;
    line-height: 50px;
    color: #999999;
    font-weight: bold;
    cursor: pointer; }
  #main-menu ul li:hover {
    background-color: #4c77a4;
    color: white; }

#mobile-menu {
  float: right;
  width: 20%;
  height: 100%;
  cursor: pointer;
  display: none; }
  #mobile-menu img {
    height: 30px;
    margin-top: 10px;
    float: right;
    margin-right: 8px; }

.mobile-sub-menu {
  position: fixed;
  right: 0;
  top: 102px;
  width: 50%;
  bottom: 0;
  left: 100%;
  background: white;
  padding: 8px;
  border-left: solid 1px #cccccc;
  -webkit-transition: left 300ms;
  /* Safari */
  transition: width left 300ms;
  transition-timing-function: ease;
  -webkit-transition-timing-function: ease; }
  .mobile-sub-menu li {
    min-height: 25px;
    line-height: 25px; }

.show-mobile-menu {
  left: 50%; }

#wrap-content {
  width: 100%;
  margin-top: 8px; }

#content {
  width: 69%;
  float: left;
  margin-right: 1%; }

#sidebar {
  width: 30%;
  float: left; }

.box-content, .sidebar-box {
  min-height: 10px;
  background-color: white;
  border: solid 1px #cccccc;
  margin-bottom: 8px;
  width: 100%; }

.user-relationship {
  padding: 8px; }

.sidebar-widget {
  padding: 8px; }

.widget-thumb {
  width: 80%;
  height: 120%;
  padding: 10%;
  border-bottom: solid 1px #cccccc; }
  .widget-thumb img {
    width: 100%;
    height: 100%; }

.widget-title {
  color: #999999;
  font-weight: bold;
  text-align: center;
  font-size: 1em;
  padding-top: 8px;
  padding-bottom: 8px; }

.widget-des {
  padding: 8px; }

.read-more {
  font-size: 0.8em;
  font-style: italic;
  width: 100%;
  text-align: right;
  text-decoration: underline;
  color: #4c77a4; }

.action-button-box {
  text-align: center; }

.action-button-box button.main-button, .action-button-box .main-button.button, .action-button-box input.main-button[type="submit"], .action-button-box #right-head .head-element a.main-button.header-link, #right-head .head-element .action-button-box a.main-button.header-link, .action-button-box .profile-content #item-header #item-buttons .main-button.generic-button, .profile-content #item-header #item-buttons .action-button-box .main-button.generic-button, .action-button-box #search-members-form input.main-button[type="submit"], #search-members-form .action-button-box input.main-button[type="submit"], .action-button-box .comment-section #respond input.main-button[type="submit"], .comment-section #respond .action-button-box input.main-button[type="submit"] {
  display: inline-block;
  margin-bottom: 8px;
  margin-top: 8px;
  width: 150px; }

.status-post-box {
  padding: 8px; }

.post-avatar {
  width: 10%;
  height: 10%;
  padding: 8px;
  float: left; }
  .post-avatar img {
    width: 100%;
    height: 100%; }

.post-content {
  float: left;
  width: 80%;
  padding: 8px; }

.post-content textarea {
  width: 100%;
  height: 80px;
  border-radius: 5px;
  border: solid 1px #cccccc; }

.post-action-element {
  padding: 8px;
  cursor: pointer; }

.post-action-element label {
  line-height: 30px; }

.post-content .left-post-action {
  float: left;
  width: 50%; }

.post-content .left-post-action .post-action-element {
  float: left; }
  .post-content .left-post-action .post-action-element img {
    width: 30px; }

.post-content .right-post-action {
  float: right;
  width: 50%; }

.post-content .right-post-action .post-action-element {
  float: left; }

.added-book-activity {
  padding: 8px; }

.activity-info {
  width: 100%;
  border-bottom: solid 1px #cccccc;
  position: relative; }

.activity-icon {
  position: absolute;
  right: 16px;
  top: 16px;
  width: 50px;
  height: 50px; }
  .activity-icon img {
    width: 100%;
    height: 100%; }

.activity-avatar {
  width: 7%;
  float: left;
  padding: 8px; }
  .activity-avatar img {
    width: 100%; }

.activity-status-info {
  float: left; }

.activity-content {
  padding: 8px;
  margin-left: 7%; }

.activity-content .activity-book-content-cover {
  width: 25%;
  height: 37.5%;
  float: left; }
  .activity-content .activity-book-content-cover img {
    width: 100%;
    height: 100%; }

.activity-content .activity-book-content-info {
  margin-left: 8px;
  float: left;
  width: 70%; }

.activity-content .activity-book-content-info .add-book-short-info {
  border-bottom: solid 1px #cccccc; }

.activity-action {
  border-top: solid 1px #cccccc;
  padding-top: 8px; }

.comment-book-activity {
  padding: 8px; }

.book-activity {
  padding: 8px; }

.comment-activity-section {
  margin-bottom: 8px; }

#footer {
  width: 100%; }

#wrap-footer {
  min-height: 150px;
  background-color: #4c77a4;
  width: 100%;
  margin-bottom: 16px; }

.footer-logo {
  width: 150px;
  height: 150px; }

.footer-widget {
  width: 33.33%;
  float: left; }

.footer-widget .widget-title {
  color: white; }

.footer-widget .widget-des {
  color: #cccccc; }

.footer-widget .social-icon-list {
  width: 100%;
  float: left; }
  .footer-widget .social-icon-list li {
    float: left;
    cursor: pointer; }
    .footer-widget .social-icon-list li img {
      width: 40px;
      padding: 4px; }
  .footer-widget .social-icon-list li:hover img {
    border-radius: 20px; }

.comment-section {
  width: 100%;
  background-color: #eef0f1;
  margin-top: 8px; }

.activity-comments {
  color: #666666; }
  .activity-comments ul:first-child, .activity-comments form {
    padding: 4px; }
  .activity-comments ul li {
    margin-bottom: 8px; }
  .activity-comments ul li ul {
    margin-left: 5%;
    margin-bottom: 8px;
    padding: 4px;
    border-left: solid 2px #4c77a4; }
  .activity-comments ul li ul li .acomment-avatar, .activity-comments ul li ul li .ac-reply-avatar {
    width: 3%;
    height: 3%; }
  .activity-comments ul li ul li .acomment-avatar img, .activity-comments ul li ul li .ac-reply-avatar img {
    width: 100%;
    height: 100%; }

.acomment-avatar, .ac-reply-avatar {
  width: 5%;
  height: 5%;
  float: left;
  margin-right: 8px; }
  .acomment-avatar img, .ac-reply-avatar img {
    width: 100%;
    height: 100%; }

.ac-reply-avatar {
  margin: 0; }

.ac-reply-content {
  width: 95%;
  display: inline-block; }

.ac-reply-content textarea {
  width: 96%;
  margin-left: 2%;
  min-height: 30px;
  line-height: 30px;
  border-radius: 5px;
  border: solid 1px #cccccc;
  overflow: hidden;
  resize: none;
  max-height: 150px; }

.textarea-hiddendiv {
  display: none;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  /* future version of deprecated 'word-wrap' */ }

.lbr {
  line-height: 30px; }

.ac-reply-content input {
  height: 30px;
  line-height: 30px;
  color: white;
  border-radius: 5px;
  background-color: #4c77a4;
  cursor: pointer;
  min-width: 75px;
  margin-left: 2%; }

.incomment-action, .acomment-options a, .comment-section .comment .reply, .comment-section #respond form p a:last-child {
  font-size: 0.8em;
  cursor: pointer;
  padding: 4px;
  text-decoration: underline;
  color: #4c77a4; }

.acomment-options {
  margin-bottom: 8px; }

.activity-type-tabs {
  width: 100%;
  clear: both; }
  .activity-type-tabs ul {
    width: 100%;
    clear: both;
    float: left;
    margin-bottom: 8px;
    padding: 4px; }
  .activity-type-tabs ul li {
    float: left;
    padding: 4px;
    height: 30px;
    line-height: 30px; }
  .activity-type-tabs ul li:hover {
    color: #4c77a4; }

.activity-inner {
  padding: 8px; }
  .activity-inner img {
    float: left;
    widows: 50px;
    height: 50px;
    padding: 8px; }

.comment-activity-section {
  border: solid 2px cyan; }

.quote-activity-section {
  border: solid 2px #ff3300; }

.share-activity-section {
  border: solid 2px #0033ff; }

.quote-activity-section {
  margin-bottom: 8px; }

.share-activity-section {
  margin-bottom: 8px; }

/* BOOK CONTENT */
.book-content {
  padding: 8px; }

.book-content h2 {
  padding: 8px; }

.book-content-cover {
  float: left;
  width: 39%;
  height: 60%;
  margin-right: 1%; }
  .book-content-cover img {
    width: 100%;
    height: 100%; }

.book-content-rating {
  padding: 8px; }

.book-content-action {
  padding: 8px; }

.book-content-rating {
  font-size: 2em;
  color: #eb7b4b; }

.book-content-rating > span:hover:before {
  content: "\2605";
  position: absolute;
  cursor: pointer; }

.book-content-user-status {
  text-align: center; }
  .book-content-user-status button, .book-content-user-status .button, .book-content-user-status input[type="submit"], .book-content-user-status #right-head .head-element a.header-link, #right-head .head-element .book-content-user-status a.header-link, .book-content-user-status .profile-content #item-header #item-buttons .generic-button, .profile-content #item-header #item-buttons .book-content-user-status .generic-button, .book-content-user-status #search-members-form input[type="submit"], #search-members-form .book-content-user-status input[type="submit"], .book-content-user-status .comment-section #respond input[type="submit"], .comment-section #respond .book-content-user-status input[type="submit"] {
    margin: 24px 8px; }

.book-content-info-nav ul {
  height: 50px;
  border-bottom: solid 3px #eb7b4b; }
.book-content-info-nav ul li {
  float: left;
  line-height: 50px;
  padding-left: 8px;
  padding-right: 8px;
  cursor: pointer; }

.book-content-info-content {
  padding: 8px;
  background-color: #eef0f1; }

/************* BOOK SHARE CONTENT ********************/
.book-share-content {
  padding: 8px; }

.book-share-rating {
  font-size: 2em;
  color: #33cc00; }

.book-share-rating > span:hover:before {
  content: "\2605";
  position: absolute;
  cursor: pointer; }

.timer-coutdown {
  float: left;
  padding: 8px; }

.timer-coutdown h3 {
  text-align: center;
  padding: 8px; }

.share-book-action-section {
  margin-bottom: 8px;
  margin-top: 8px;
  background-color: #33cc00; }

.share-book-action-info {
  float: left; }

.number-registred {
  padding: 8px;
  margin: 8px;
  text-align: center;
  color: white; }
  .number-registred h3 {
    font-size: 3em;
    font-weight: bold; }

.join-get-book {
  margin: 8px;
  text-align: center; }

.share-book-result-section {
  padding: 8px;
  text-align: center;
  border: solid 1px #cccccc;
  margin-bottom: 8px;
  margin-top: 8px; }
  .share-book-result-section img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: solid 3px #33cc00;
    cursor: pointer; }

.book-share-info-nav ul {
  height: 50px;
  border-bottom: solid 3px #33cc00; }
.book-share-info-nav ul li {
  float: left;
  line-height: 50px;
  padding-left: 8px;
  padding-right: 8px;
  cursor: pointer; }

.comment-section #comments {
  padding: 8px;
  color: #666666; }

.comment-section .fn {
  line-height: 30px; }

.comment-section .comment-meta {
  margin-left: 5%;
  margin-right: 5%;
  position: absolute;
  right: 0;
  top: 0; }

.comment-section .comment {
  color: #666666;
  position: relative; }
  .comment-section .comment p {
    padding-left: 5%; }

.comment-section #respond {
  padding: 8px; }
  .comment-section #respond h3 {
    color: #666666; }
  .comment-section #respond form p {
    padding-bottom: 8px;
    padding-top: 8px; }
  .comment-section #respond textarea {
    width: 96%;
    margin-left: 2%;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    border: solid 1px #cccccc;
    overflow: hidden;
    resize: none;
    max-height: 150px; }

.book-share-quick-info {
  padding: 8px; }
  .book-share-quick-info h1 {
    margin: 8px 0 8px 0; }

.book-info-cover {
  float: left;
  width: 19%;
  height: 28.5%;
  margin-right: 1%; }
  .book-info-cover img {
    width: 100%;
    height: 100%; }

.book-share-quote {
  border: solid 1px #33cc00;
  float: left;
  padding: 8px;
  display: inline-block;
  max-width: 76%;
  min-height: 28.5%; }

/************* List shared book *********************/
.books-share-filter {
  padding: 8px;
  margin: 8px; }
  .books-share-filter > div {
    display: inline-block; }

.books-share-filter .search-filter {
  float: right; }

.book-share-block {
  width: 21%;
  margin: 1%;
  padding: 1%;
  float: left;
  cursor: pointer;
  transition-duration: 100ms;
  -webkit-transition-duration: 100ms;
  min-height: 500px; }
  .book-share-block img {
    width: 100%;
    height: 150%; }

.book-share-block:hover {
  background-color: #eef0f1; }

.block-book-name {
  font-size: 1.2em;
  color: #666666;
  font-weight: bold;
  padding-bottom: 8px; }

.over-time {
  background-color: #cccccc; }

.over-time:hover {
  background-color: #cccccc; }

.page-navigation {
  text-align: center;
  padding: 8px; }
  .page-navigation ul li {
    display: inline-block;
    padding: 8px;
    border: solid 1px #cccccc;
    cursor: pointer; }
  .page-navigation ul li.activated {
    background-color: #4c77a4; }

/************* Profile *********************/
.profile-content {
  padding: 8px; }

.profile-content #item-header {
  background-color: #eef0f1; }

.profile-content #item-header #item-buttons {
  padding: 8px; }

.profile-content #item-header #item-buttons .generic-button {
  display: inline-block;
  font-size: 0.8em;
  height: auto;
  line-height: 0.8em;
  padding: 8px;
  cursor: pointer; }

.profile-content #item-header-avatar {
  width: 150px;
  height: 150px;
  margin: 0 auto; }
  .profile-content #item-header-avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8); }

.profile-content #item-header-content {
  text-align: center;
  padding: 8px; }
  .profile-content #item-header-content h2 {
    font-size: 1.5em;
    color: #666666; }

.profile-content #item-nav {
  padding: 8px;
  background-color: #4c77a4; }
  .profile-content #item-nav ul li {
    display: inline-block;
    padding: 8px;
    color: #cccccc;
    margin-left: -4px; }
  .profile-content #item-nav ul li:not(:last-child) {
    border-right: solid 1px #cccccc; }

.profile-content #subnav {
  margin-top: 16px;
  background-color: #4c77a4; }
  .profile-content #subnav ul li {
    display: inline-block;
    padding: 8px;
    color: #cccccc; }
  .profile-content #subnav ul li:not(:last-child) {
    border-right: solid 1px #cccccc; }

/********************* Friend Page *************************/
#pag-top, #pag-bottom, .pagination {
  text-align: center;
  padding: 16px;
  min-height: 60px;
  line-height: 60px; }

ul#members-list li {
  display: inline-block;
  width: 25%;
  margin-left: -4px;
  text-align: center;
  vertical-align: top; }

#members-list .item-avatar {
  width: 80px;
  height: 80px;
  margin: 0 auto; }
  #members-list .item-avatar img {
    width: 80px;
    height: 80px;
    border-radius: 40px; }
  #members-list .item-avatar img:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8); }

#members-list .item {
  padding: 8px; }

#members-list .action {
  padding: 8px;
  min-height: 34px; }

#members-list .action .generic-button {
  border: solid 1px #cccccc;
  width: 60%;
  margin: 0 auto;
  font-size: 0.8em;
  padding: 4px;
  background-color: #4c77a4;
  border-radius: 5px;
  cursor: pointer;
  color: white; }

#members-list .action .generic-button:hover {
  background-color: white;
  color: #666666; }

.sidr {
  display: none;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  max-width: 500px;
  left: -500px;
  right: auto;
  background: #fff;
  color: #333;
  border-right: 2px solid #ebebeb;
  font-size: 15px;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 999999; }

.sidr.right {
  left: auto;
  right: -500px; }

.sidr.left {
  left: -500px;
  right: auto; }

.sidr form.acf-form {
  padding: 0 10px 5px;
  margin: 0 0 10px; }

/* Make sure the image/file uploader shows up on top of our Sidr menu */
.media-modal,
.media-modal.acf-media-modal {
  z-index: 999999 !important; }

.sidr .acf-form {
  padding-top: 10px; }

.sidr .acf-fields > .acf-field {
  padding-left: 0;
  padding-right: 0; }

.sidr .edit-close,
.sidr .acf-form-submit .button,
.sidr .acf-form-submit input[type="submit"],
.sidr .acf-form-submit #right-head .head-element a.header-link,
#right-head .head-element .sidr .acf-form-submit a.header-link,
.sidr .acf-form-submit .profile-content #item-header #item-buttons .generic-button,
.profile-content #item-header #item-buttons .sidr .acf-form-submit .generic-button,
.sidr .acf-form-submit #search-members-form input[type="submit"],
#search-members-form .sidr .acf-form-submit input[type="submit"] {
  display: block;
  margin-bottom: 10px; }

.sidr .menu-close,
.sidr .menu-close:hover {
  background: transparent;
  color: #fff;
  padding: 15px;
  margin: 0;
  border: none;
  border-radius: 0;
  text-decoration: none;
  text-shadow: none; }

#edit-toggle {
  float: right; }

/************************ MEMBERS **************************/
.members-list {
  padding: 8px; }

#search-members-form {
  text-align: right;
  margin-top: 8px; }
  #search-members-form input[type="submit"] {
    height: auto;
    padding: 0; }
  #search-members-form input[type="text"] {
    padding-left: 8px; }

.item-list-tabs ul li {
  display: inline-block;
  padding: 8px; }

/********************** NOTIFACATIONS ********************/
table.notifications {
  width: 100%;
  border: 1px solid #cccccc; }
  table.notifications thead {
    background: #eb7b4b;
    color: white;
    height: 30px; }
  table.notifications th {
    height: 30px;
    padding: 4px; }
  table.notifications tbody tr {
    background: #eef0f1;
    height: 30px; }
  table.notifications td {
    padding: 4px; }

.notifications-options-nav {
  margin-top: 16px; }
  .notifications-options-nav input[type="submit"] {
    height: auto;
    padding: 0; }

/********************** MESSAGES ********************/
table#message-threads {
  width: 100%;
  border: 1px solid #cccccc; }
  table#message-threads thead {
    background: #eb7b4b;
    color: white;
    height: 30px; }
  table#message-threads th {
    height: 30px;
    padding: 4px; }
  table#message-threads tbody tr {
    background: #eef0f1;
    height: 30px; }
  table#message-threads td {
    padding: 4px; }

.messages-options-nav {
  margin-top: 16px; }
  .messages-options-nav input[type="submit"] {
    height: auto;
    padding: 0; }

/********************** USER - BOOKS *********************/
.user-books {
  margin-top: 16px;
  margin-bottom: 16px;
  border: solid 1px #cccccc; }

.user-book-nav ul {
  width: 100%;
  background: #eb7b4b;
  color: white;
  border-bottom: solid 3px #4c77a4; }
.user-book-nav ul li {
  float: left;
  width: 33.33%;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
  text-align: center; }
.user-book-nav ul li.activated {
  background: #4c77a4; }

.user-books .list-books {
  padding: 8px;
  display: none; }

.user-books .actived {
  display: block; }

.book-block {
  float: left;
  width: 19%;
  margin: 3%; }
  .book-block img {
    width: 100%; }

/************************ SETTING ************************/
#settings-form {
  margin: 16px auto;
  padding: 8px;
  width: 50%;
  background: #eef0f1; }
  #settings-form label, #settings-form input {
    margin-top: 16px;
    margin-bottom: 16px; }
  #settings-form input:not([type='submit']) {
    display: block;
    width: 99%;
    cursor: auto;
    padding-left: 1%;
    background: white; }
  #settings-form input[type='submit'] {
    width: 100%; }

/************************ NOTICE FORM *************************/
.search-message-form {
  padding: 8px; }
  .search-message-form input[type="text"] {
    padding-left: 8px; }
  .search-message-form input[type="submit"] {
    padding: 0; }

/*********************** SEARCH AUTOCOMPLETE *****************/
.ui-menu .ui-menu-item {
  line-height: 30px !important;
  min-height: 30px !important; }
  .ui-menu .ui-menu-item img {
    width: 20px;
    height: 20px;
    float: left;
    padding: 4px; }

.ui-widget-content a {
  font-size: inherit !important;
  color: #666666 !important; }

.ui-widget {
  font-size: 0.8em !important;
  color: #666666 !important; }

.ui-state-focus {
  background: #4c77a4 !important;
  color: white !important;
  border: none !important; }
  .ui-state-focus a {
    color: white !important; }

.ui-widget-content {
  background: white !important; }

/************************ REPONSIVE *************************/
@media screen and (max-width: 1024px) {
  #main-search {
    width: 200px; }

  #main-search {
    width: 100%;
    margin-left: 8px; }

  ul#members-list li {
    display: inline-block;
    width: 33.33%;
    margin-left: -4px;
    text-align: center;
    vertical-align: top; }

  .book-block {
    width: 27.33%;
    margin: 3%; } }
@media screen and (max-width: 768px) {
  #main-search {
    width: 100px; }

  #menu {
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    z-index: 100;
    margin: 0;
    overflow: hidden; }

  #wrap-content {
    margin-top: 108px; }

  #top-head {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200; }

  #main-avatar {
    display: none; }

  #sidebar {
    display: none; }

  #left-head h2 {
    display: none; }

  #main-search {
    width: 100%;
    margin-left: 8px; }

  #main-menu {
    width: 80%;
    display: inline-block; }

  #mobile-menu {
    display: block; }

  #content {
    width: 100%; }

  .footer-widget {
    width: 100%;
    text-align: center;
    border-bottom: solid 1px #cccccc; }

  .social-icon-list li {
    width: 16.6%; }

  .book-share-quick-info h1 {
    font-size: 1.2em;
    text-align: center; }

  .book-info-cover {
    width: 80%;
    margin: 0 auto;
    float: none; }

  .book-share-quote {
    max-width: 100%; }

  .timer-coutdown {
    width: 100%; }

  .share-book-action-info {
    width: 100%; }

  .profile-content #item-nav ul li:not(:last-child), .profile-content #subnav ul li:not(:last-child) {
    border: none; }

  ul#members-list li {
    display: inline-block;
    width: 50%;
    margin-left: -4px;
    text-align: center;
    vertical-align: top; }

  .book-block {
    width: 44%;
    margin: 3%; }

  .stats-filter, .search-filter {
    width: 100%;
    float: none !important;
    margin-bottom: 8px; } }
@media screen and (max-width: 480px) {
  ul#members-list li {
    display: inline-block;
    width: 100%;
    margin-left: 0;
    text-align: center;
    vertical-align: top;
    border-bottom: solid 1px #cccccc;
    margin-bottom: 8px; }

  .book-block {
    width: 90%;
    margin: 5%; }

  #settings-form {
    width: 90%; } }
