$h1-color: #123123;
$p-color: #cccccc;
$dark-color: #666666;
$orange-color: #eb7b4b;
$green-color: #33cc00;
$body-bakground: #e9e8e4;
$container-width: 1000px;
$main-color: #4c77a4;
$h-color: #ffffff;
$link-color: #0033ff;
$top-head-height: 50px;
$main-menu-height: 50px;
$default-margin: 8px;
$default-padding: 8px;
$default-radius: 5px;
$default-border-color: #ccc;
$default-box-color: #ffffff;
$default-font-color: #999999;
$box-min-height: 10px;
$defautl-button-height: 30px;
$default-button-width: 75px;
$default-avatar-width: 80px;
$default-action-image: 30px;
$default-submenu-width: 200px;
$default-submenu-height: 30px;
$default-footer-height: 150px;
$default-logo-size: 150px;
$default-social-icon-size: 40px;
$default-activity-icon-size: 50px;
$default-comment-bg: #eef0f1;
$default-winer-avatar-width: 100px;

$comment-color: #00ffff;
$quote-color: #ff3300;
$share-color: #0033ff;

body {
    background-color: $body-bakground;
    margin: 0;
    padding: 0;
    color: $default-font-color;
}

h1, h2, h3, h4, h5, h6 {
	color: $h-color;
	font-weight: bold;
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

p {
	margin: 0;
	padding: 0;
}

button, select, input {
	height: $defautl-button-height;
	line-height: $defautl-button-height;
	color: $default-font-color;
	border: 1px solid $default-border-color;
	border-radius: $default-radius;
	background-color: transparent;
	cursor: pointer;
	min-width: $default-button-width;
}

button:hover {
	color: $h-color;
	background-color: $main-color;
}

.button {
	@extend button;
	padding: 6px;
}

.light-button {
	color: $main-color;
	background-color: $default-box-color;
}

.orange-button {
	color: $h-color;
	background-color: $orange-color;
}

.green-button {
	color: $h-color;
	background-color: $green-color;
}

.green-border {
	border: solid 1px $green-color;
}

.disabled-button {
	background-color: $dark-color;
}

.center-content {
	text-align: center;
}

.load-more {
	padding: $default-padding;
	text-align: center;
	cursor: pointer;
	background-color: $main-color;
	color: $h-color;
}

.load-more:hover {
	color: inherit;
	box-sizing: content-box;
}

.link {
	color: $link-color;
	cursor: pointer;
}

.link:hover {
	text-decoration: underline;
}

.link-underline {
	@extend .link;
	text-decoration: underline;
}

.link-underline:hover {
	padding-left: $default-padding/2;
}

.user-name {
	@extend .link;
	font-weight: bold;
}

.stats-style {
	font-size: 0.8em;
	line-height: 2em;
}

.dark-color-style {
	font-weight: bold;
	color: $dark-color;
}

.number {
	color: $main-color;
}

.border-bottom {
	border-bottom: 1px solid $default-border-color;
}

.clr {
    clear: both;
}

* {
	transition-duration : 400ms;
	-webkit-transition-duration : 400ms;
}


// page
#wrap-all {
	width: 100%;
}

#container {
	width: $container-width;
	margin: 0 auto;
}

#header {
	width: 100%;
	height: auto;
}

#header #top-head {
	width: 100%;
	height: $top-head-height;
	background-color: $main-color;
}

#left-head {
	width: 50%;
	float: left;
	
}

#right-head {
	width: 50%;
	float: left;

}

#left-head .head-element {
	float: left;
	height: 100%;
	position: relative;
	h2 {
		line-height: $top-head-height;
		padding-left: $default-padding;
		padding-right: $default-padding;
	}
}

#main-search {
	width: 300px;
	background-color: $default-box-color;
	height: $top-head-height*0.5;
	margin-top: $top-head-height*0.25;
	line-height: $top-head-height*0.5;
	cursor: auto;
}

#right-head .head-element {
	float: right;
	height: 100%;
	cursor: pointer;
	position: relative;
	//min-width: $top-head-height*0.6;
	height: $top-head-height*0.6;
	margin-top: $top-head-height*0.2;
	padding-left: $default-padding;
	padding-right: $default-padding;

	img {
		width: $top-head-height*0.6;
		height: $top-head-height*0.6;
	}

	a.header-link {
		line-height: $top-head-height*0.6;
		@extend .light-button;
		@extend .button;
	}
}

#right-head .head-element:hover .sub-menu {
	display: block;
}

.sub-menu {
	background-color: $default-box-color;
	position: absolute;
	top: $top-head-height*0.5;
	width: $default-submenu-width;
	left: ($top-head-height*0.6 - $default-submenu-width)/2;
	padding:  $default-padding;
	border: solid 1px $main-color;
	display: none;

	li{
		height: $default-submenu-height;
		line-height: $default-submenu-height;
		border-bottom: solid 1px $default-border-color;
		padding: $default-padding;
	}
	
	a {
		height: $default-submenu-height;
		line-height: $default-submenu-height;
		border-bottom: $default-border-color;
		padding: $default-padding;
		display: block;
		width: 100%;
		height: 100%;
	}

	li:hover {
		color: $h-color;
		background-color: $main-color;
	}
}

#menu {
	margin-top: $default-margin;
	border: solid 1px $default-border-color;
	height: $main-menu-height;
	background-color: $default-box-color;
}

#main-menu {
	width: 100%;
	height: 100%;
}

#main-menu ul {
	width: 100%;
	height: 100%;

	li  {
		float: left;
		height: 100%;
		padding-left: $default-padding;
		padding-right: $default-padding;
		line-height: $main-menu-height;
		color: $default-font-color;
		font-weight: bold;
		cursor: pointer
	}

	li:hover {
		background-color: $main-color;
		color: $h-color;
	}
}

#wrap-content {
	width : 100%;
	margin-top: $default-margin;
}

#content {
	width: 69%;
	float: left;
	margin-right: 1%;
}

#sidebar {
	width: 30%;
	float: left;
}

.box-content, .sidebar-box {
	min-height: $box-min-height;
	background-color: $default-box-color;
	border: solid 1px $default-border-color;
	margin-bottom: $default-margin;
	width: 100%;
}

.user-relationship {
	padding: $default-padding;
}

.sidebar-widget {
	padding: $default-padding;
}

.widget-thumb {
	width: 80%;
	height: 120%;
	padding: 10%;
	border-bottom: solid 1px $default-border-color;

	img {
		width: 100%;
		height: 100%;
	}
}

.widget-title {
	color: $default-font-color;
	font-weight: bold;
	text-align: center;
	font-size: 1em;
	padding-top: $default-padding;
	padding-bottom: $default-padding;
}

.widget-des {
	padding: $default-padding;
}

.read-more {
	font-size: 0.8em;
	font-style: italic;
	width: 100%;
	text-align: right;
	text-decoration: underline;
	color: $main-color;
}

.action-button-box {
	text-align: center;
}

.action-button-box button.main-button {
	display: inline-block;
	margin-bottom: $default-padding;
	margin-top: $default-padding;
	width: $default-button-width*2;
}

.status-post-box {
	padding: $default-padding;
}

.post-avatar {
	width: 10%;
	height: 10%;
	padding: $default-padding;
	float: left;
	img {
		width: 100%;
		height: 100%;
	}
}

.post-content {
	float: left;
	width: 80%;
	padding: $default-padding;
}

.post-content textarea{
	width: 100%;
	height: $default-avatar-width;
	border-radius: $default-radius;
	border: solid 1px $default-border-color;
}

.post-action-element {
	padding: $default-padding;
	cursor: pointer;
}

.post-action-element label {
	line-height: $defautl-button-height;
}

.post-content .left-post-action {
	float: left;
	width: 50%;
}
.post-content .left-post-action .post-action-element {
	float: left;
	img {
		width: $default-action-image;
	}
}

.post-content .right-post-action {
	float: right;
	width: 50%;
}

.post-content .right-post-action .post-action-element {
	float: left;
}

.added-book-activity {
	padding: $default-padding;
}


.activity-info {
	width: 100%;
	border-bottom: solid 1px $default-border-color;
	position: relative;
}

.activity-icon {
	position: absolute;
	right: $default-padding*2;
	top: $default-padding*2;
	width: $default-activity-icon-size;
	height: $default-activity-icon-size;

	img {
		width: 100%;
		height: 100%;
	}
}



.activity-avatar {
	width: 7%;
	float: left;
	padding: $default-padding;

	img {
		width: 100%;
	}
}

.activity-status-info {
	float: left;
}

.activity-content {
	padding: $default-padding;
	margin-left: 7%;
}

.activity-content .activity-book-content-cover {
	width: 25%;
	height: 37.5%;
	float: left;
	img {
		width: 100%;
		height: 100%;
	}
}

.activity-content .activity-book-content-info {
	margin-left:  $default-margin;
	float: left;
	width: 70%;
}

.activity-content .activity-book-content-info .add-book-short-info {
	border-bottom: solid 1px $default-border-color;
}

.activity-action {
	border-top: solid 1px $default-border-color;
	padding-top: $default-padding;
}

.comment-book-activity {
	padding: $default-padding;
}

.book-activity {
	padding: $default-padding;
}

.comment-activity-section {
	margin-bottom: $default-margin;
}

#footer {
	width: 100%;
}

#wrap-footer {
	min-height: $default-footer-height;
	background-color: $main-color;
	width: 100%;
	margin-bottom: $default-margin*2;
}

.footer-logo {
	width: $default-logo-size;
	height: $default-logo-size;
}

.footer-widget {
	width: 33.33%;
	float: left;
}

.footer-widget .widget-title {
	color: $h-color;
}

.footer-widget .widget-des {
	color: $p-color;
}

.footer-widget .social-icon-list {
	width: 100%;
	float: left;
	li {
		float: left;
		cursor: pointer;
		img {
			width: $default-social-icon-size;
			padding: $default-padding/2;
		}
	}

	li:hover img {
		border-radius: $default-social-icon-size/2;
	}

}

// COMMENT SECTION
.comment-section {
	width: 100%;
	background-color: $default-comment-bg;
	margin-top: $default-margin;
}

.activity-comments {
	//padding: $default-padding/2;
	color: $dark-color;

	ul:first-child, form {
		padding: $default-padding/2;
	}

	ul li {
		margin-bottom: $default-margin;
	}

	ul li ul {
		margin-left: 5%;
		margin-bottom: $default-margin;
		padding: $default-padding/2;
		border-left: solid 2px $main-color;
	}

	ul li ul li .acomment-avatar {
		width: 3%;
		height: 3%;
	}

	ul li ul li .acomment-avatar img {
		width: 100%;
		height: 100%;
	}

}

.acomment-avatar {
	width: 5%;
	height: 5%;
	float: left;
	margin-right: $default-margin;

	img {
		width: 100%;
		height: 100%;
	}
}

.acomment-meta {
	a {
		@extend .user-name;
	}

	a span {
		@extend .stats-style;
	}
}

.ac-reply-avatar {
	@extend .acomment-avatar;
	margin: 0;
}

.ac-reply-content {
	width: 95%;
	display: inline-block;
}

.ac-reply-content textarea {
	width: 96%;
	margin-left: 2%;
	min-height: $defautl-button-height;
	line-height: $defautl-button-height;
	border-radius: $default-radius;
	border: solid 1px $default-border-color;
	overflow: hidden;
	resize:none; 
    max-height: $defautl-button-height*5;
}

.textarea-hiddendiv {
    display: none;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word; /* future version of deprecated 'word-wrap' */
}

.lbr {
	line-height: $defautl-button-height;
}

.ac-reply-content input {
	height: $defautl-button-height;
	line-height: $defautl-button-height;
	color: $h-color;
	border-radius: $default-radius;
	background-color: $main-color;
	cursor: pointer;
	min-width: $default-button-width;
	margin-left: 2%;
}

.incomment-action {
	font-size: 0.8em;
	cursor: pointer;
	padding: $default-padding/2;
	text-decoration: underline;
	color: $main-color;
}

.acomment-options {
	a {
		@extend .incomment-action;
	}
}

.acomment-options {
	margin-bottom: $default-margin;
}

.activity-type-tabs {
	width: 100%;
	clear: both;


	ul {
		width: 100%;
		clear: both;
		float: left;
		margin-bottom: $default-margin;
		padding: $default-padding/2;
	}

	ul li {
		float: left;
		padding: $default-padding/2;
		height: $defautl-button-height;
		line-height: $defautl-button-height;
	}

	ul li.selected {
		@extend .link;
	}

	ul li:hover {
		color: $main-color;
	}
}

.activity-inner {
	padding: $default-padding;

	img {
		float: left;
		widows: $default-activity-icon-size;
		height: $default-activity-icon-size;
		padding: $default-padding;
	}

}

.comment-activity-section {
	border: solid 2px $comment-color;
}

.quote-activity-section {
	border: solid 2px $quote-color;
}

.share-activity-section {
	border: solid 2px $share-color;
}

.quote-activity-section {
	margin-bottom: $default-margin;
}


/* BOOK CONTENT */

.book-content {
	padding: $default-padding;
}

.book-content h2 {
	padding: $default-padding;
}

.book-content-cover {
	float: left;
	width: 39%;
	height:60%;
	margin-right: 1%;

	img {
		width: 100%;
		height: 100%;
	}
}

.book-content-rating {
	padding: $default-padding;
}

.book-content-action {
	padding: $default-padding;
}

.book-content-rating {
	font-size: 2em;
	color: $orange-color;
}

.book-content-rating > span:hover:before {
   content: "\2605";
   position: absolute;
   cursor: pointer;
}

.book-content-info-nav {
	ul {
		height: $main-menu-height;
		border-bottom: solid 3px $orange-color;
	}

	ul li {
		float: left;
		line-height: $main-menu-height;
		padding-left: $default-margin;
		padding-right: $default-margin;
		cursor: pointer;
	}

	ul li.activated, li:hover {
		@extend .orange-button;
	}

}

.book-content-info-content {
	padding: $default-padding;
}



/************* BOOK SHARE CONTENT ********************/

.book-share-content {
	padding: $default-padding;
}

.book-share-rating {
	font-size: 2em;
	color: $green-color;
}

.book-share-rating > span:hover:before {
   content: "\2605";
   position: absolute;
   cursor: pointer;
}

.timer-coutdown {
	float: left;
	padding: $default-padding;
}

.timer-coutdown h3 {
	text-align: center;
	padding: $default-padding;
}

.share-book-action-section {
	margin-bottom: $default-margin;
	margin-top: $default-margin;
	background-color: $green-color;
}

.share-book-action-info {
	float: left;
}

.number-registred {
	padding: $default-padding;
	margin: $default-margin;
	text-align: center;
	color: $h-color;

	h3 {
		font-size: 3em;
		
		font-weight: bold;
	}
}

.join-get-book {
	margin: $default-margin;
	text-align: center;
}

.share-book-result-section {
	padding: $default-padding;
	text-align: center;
	border: solid 1px $default-border-color;
	margin-bottom: $default-margin;
	margin-top: $default-margin;

	img {
		width: $default-winer-avatar-width;
		height: $default-winer-avatar-width;
		border-radius: $default-winer-avatar-width/2;
		border: solid 3px $green-color;
		cursor: pointer;
	}
}

.book-share-info-nav {
	ul {
		height: $main-menu-height;
		border-bottom: solid 3px $green-color;
	}

	ul li {
		float: left;
		line-height: $main-menu-height;
		padding-left: $default-margin;
		padding-right: $default-margin;
		cursor: pointer;
	}

	ul li.activated, li:hover {
		@extend .green-button;
	}
}